<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
<meta http-equiv="Content_Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, inital-scale=1.0, minimum-scale=1.0">
<title>[[${title}]]</title>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
<link rel="stylesheet" th:href="@{/style.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>
<body>

	<th th:fragment="column_link(fieldName, columnLabel, removeTag)"
		th:remove="${removeTag}"><a class="text-white"
		th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + '&keyword=' + ${keyword != null ? keyword : ''}}">
			[[${columnLabel}]] </a> <span th:if="${sortField == fieldName}"
		th:class="${sortDir == 'asc' ? 'fa fa-sort-up' : 'fa fa-sort-down'}"></span>


	</th>

	<a class="page-link" th:fragment=page_link(pageNum,columnLabel)
		th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir='+ ${sortDir} + '&keyword=' + ${keyword != null ? keyword : ''}}">[[${columnLabel}]]</a>



	<div class="text-center" th:fragment="footer">
		<p>Shopme Control Panel - Copyright &copy; Shopme</p>
	</div>
</body>
</html>