<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security5">

<head th:replace="fragments :: page_head('eShopme Admin Controller')"></head>
<link rel="apple-touch-icon" sizes="180x180" th:href="@{favicon/apple-touch-icon.png}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{favicon/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{favicon/favicon-16x16.png}">
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Shopme Admin Page</h2>
		Welcome 	<a 
				th:href="@{/account}" sec:authentication="principal.fullName"></a>
				<span sec:authentication="principal.authorities"></span>
		</div>
		<div th:replace="fragments :: footer"></div>

	</div>
	<script th:src="@{/js/common.js}"></script>


</body>
</html>