.modal-bg-color {
	background: #e2e2e5;
}


/* Custom background color for carousel control icons */
.carousel-control-prev-icon {
    background-color: #494951; /* Red background */
}

.carousel-control-next-icon {
    background-color: #494951; /* Green background */
}

.carousel-indicators li {
    background-color: #a6a6b0;
}
