.icon-white {
	color: white;
}

.icon-silver {
	color: silver;
}

.icon-green {
	color: green;
}

.icon-dark {
	color: grey;
}

.midNight-blue :hover {
	color: #333;
}

@media screen and (max-width:768px) {
	/* small screens */
	div .full-details {
		display: none;
	}
	div .less-details {
		display: block;
	}

	
	.less-detail-field{
	width: 45%;
	}
}

@media screen and (min-width:768px) and (max-width:1024px) {
	/* medium screens */
	div.full-details {
		display: block;
		
	}
	.table-width {
	width: 100%;
	}
	div .less-details {
		display: none;
	}
	.hideable-column {
	display: none;
	}
	
.medium-sacreen-brand{
	white-space: nowrap;
	}
}

@media screen and (min-width:1024px) {
	/* Large screens */
	div .less-details {
		display: none;
	}
	
	.hideable-column {
	display: table-cell;
	}
	
}

button .caption {
    display: none;
}

button:hover .caption {
    display: inline;
    /* Additional styling as needed */
}



.profile-pic {
	
	 width: 35px; /* Adjust the width as needed */
    height: 35px; /* Adjust the height as needed */
    border-radius:50px;
    object-fit: cover;
}

.logoutLink:hover {
	background: #343a40;
	color: ivory;
}