<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Products', 'none')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>

		<div>
			<h2>Manage Products</h2>

			<a th:href="@{/products/new}"
				class="fa fa-folder-plus fa-2x icon-dark mr-3"></a><a
				th:href="@{/products/export/csv}"
				class="fa fa-file-csv fa-2x icon-dark mr-2"></a>
		</div>

	<div class="m-2">
		<form th:action="@{/products/page/1}" class="form-inline" id="searchForm">
			<input type="hidden" name="sortField" th:value="${sortField}">
			<input type="hidden" name="sortDir" th:value="${sortDir}">
			Category:&nbsp;
			<select class="form-control" name="categoryId" id="dropdownCategory">
					<option value="0">All Categories</option>
					 
					 <th:block th:each="cat : ${listCategories}" >
					 	 <option th:selected="(${categoryId} == ${cat.id})"  th:value="${cat.id}">[[${cat.name}]]</option>
					 
					 </th:block>
					 
					 </select>

			&nbsp;Filter: 
			<input type="search" name="keyword" 
				th:value="${keyword}" class="form-control less-detail-field"> &nbsp; &nbsp;
			<button type="submit" class="btn btn-primary less-details-margin">


				<i class="fa fa-search"></i><span class="caption">&nbsp; Search</span>
			</button>
			&nbsp; &nbsp;
			<button type="button" class="btn btn-secondary less-details-margin"
				onclick="clearFunction();">
				<i class="fa fa-eraser"></i><span class="caption">&nbsp; Clear</span>
			</button>


		</form>
		<div th:if="${message != null}"
			class="alert alert-success text-center mt-3">[[${message}]]</div>
	</div>
		
		
		
	</div>
		


		<div class="full-details">

			<table
				class="table table-bordered table-striped table-hover table-responsive-md table-width">
				<thead class="thead-dark">

					<tr>

						<th >ID</th>
						<th>Main Image</th>
						
						<th	th:replace="fragments :: column_link('/products', 'name', 'Product Name', 'none')" />
						
						<th>Brand</th>
                       <th>Category</th>
                       <th>Enabled</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="p-5">
					<th:block th:each="product : ${listProducts}">
						<tr>
							<td>[[${product.id}]]</td>
							<td>
							  <img  th:src="@{${product.mainImagePath}}" style="width: 120px" class="img-fluid"/>
							</td>
							<td>
								<a th:href="@{'/products/details/' + ${product.id}}"
								   class="link-detail"
								   th:title="${product.name}">[[${product.shortName}]]</a>
							
							
							</td>
							<td>[[${product.brand.name}]]</td>
						   <td>[[${product.category.name}]]</td>
								<td>
								
								<div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})"></div>
							</td>
							
							<td>
								<a class="fa fa-file-alt fa-2x icon-green link-detail" 
								   th:href="@{'/products/details/' + ${product.id}}"
								   title="View details of this product"></a>
								&nbsp;
								<div
									th:replace="fragments :: edit('products','/products/edit/' + ${product.id})"></div>
						
								<div
									th:replace="fragments :: delete('products','/products/delete/' + ${product.id},${product.id},true)"></div>

							</td>

						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
</div>



		<div th:replace="product_pagination :: pagination('products', '/products')"></div>
   
		<div th:replace="modal_fragments :: confirm_modal"></div>
		<div th:replace="fragments :: footer"></div>



  <div  class="modal fade" id="detailDialog">

			<div class="modal-dialog modal-xl">

				<div class="modal-content">
					
				</div>
				
			</div>
			
		
</div>



		<script th:src="@{/js/common.js}"></script>
		<script th:src="@{/js/common_lists.js}"></script>
		<script type="text/javascript">
			moduleURL = "[[@{/products}]]"

			$(document).ready(function() {

				$(".link-delete").on("click", function(e) {
					e.preventDefault();

					showDeleteConfirmModal($(this), "product");

				});
				
			
			$(".link-detail").on("click", function(e){
				linkDetailURL = $(this).attr("href");
				e.preventDefault();
				$('#detailDialog').modal('show').find(".modal-content").load(linkDetailURL);
			});
			
			$("#dropdownCategory").on("change", function() {
				$("#searchForm").submit();
			
			
			});
			
			
			
			});
			
			
			
		</script>
</body>
</html>
