<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">

		<div class="row " id="divProductImages">
			<div class="col border m-2 p-2" >
				<label>Main Image:</label>
				
				<div>
					<img th:src="@{${product.mainImagePath}}" class="img-fluid product-images"  id="thumbnail"
					     alt="Main image preview" style="max-width:500px;max-height: 500px"/>
				</div>
				
				<div class="mt-2">
					<input class="m-2" id="fileImage" name="fileImage" type="file"
						accept="image/png, image/jpeg" required>
				</div>

			</div>
		
			<div class="col border m-2 p-2" id="divExtraImage0">
				
			<div id="extraImageHeader0"><label>Extra Image # 1:</label></div>
				
				<div>
					<img th:src="@{/images/image-thumbnail.png}" class="img-fluid product-images"  id="extraThumbnail0"
					     alt="Extra image #1 preview "/>
				</div>
				
				<div class="mt-2">
					<input class="m-2" name="extraImage" type="file"
						accept="image/png, image/jpeg"
						>
				</div>

			</div>
		
		
		
		</div>

	</div>

</body>
</html>