<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>				
<div th:fragment="content" class="row m-2">
	<div class="col">
		<th:block th:each="review : ${listReviews}">
			<div class="row">
				<div class="col-xs"><input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs" th:value="${review.rating}" /></div>
				
				<div class="col-xs ml-2">
					<a class="linkVoteReview  fa-thumbs-up"
						th:classappend="${review.upvotedByCurrentCustomer ? 'fas' : 'far'}"
						th:id="'linkVoteUp-' + ${review.id}"
						th:reviewId="${review.id}"
					   	th:href="@{'/vote_review/' + ${review.id} + '/up'}"></a>
					   
				</div>
					<small th:id="'linkThumbsUp-' + ${review.id}" >[[${review.positiveVotes}]]</small>

					<div class="col-xs ml-2">

						<a class="badge badge-primary badge-pill linkVoteReviewCount"
							th:href="@{'/vote_review/count/' + ${review.id}}"
				            title="Click to View the Voted Customer Names"
							th:id="'voteCount-' + ${review.id}"> [[${review.votes}]]
							Votes 
							</a>
						<div 
						
						     
						     th:divList=" 'divListGroup' + ${review.id}"></div>

                         </div>





					<div class="col-xs ml-2">
					<a class="linkVoteReview fa-thumbs-down"
						th:classappend="${review.downvotedByCurrentCustomer ? 'fas' : 'far'}"
						th:id="'linkVoteDown-' + ${review.id}"
						th:reviewId="${review.id}"
					   	th:href="@{'/vote_review/' + ${review.id} + '/down'}"></a>
					   	 
				</div>	
				<small th:id="'linkThumbsDown-' + ${review.id}" >[[${review.negativeVotes}]]</small>			
			</div>
			<div class="row">
				<div class="col"><b>[[${review.headline}]]</b></div>
			</div>
			<div class="row">
				<div class="col">[[${review.comment}]]</div>
			</div>								

			<div class="row">
				<div class="col ml-3"><small>[[${review.customer.fullName}]], <div th:replace="fragments :: format_time(${review.reviewTime})"></div></small></div>
			</div>
			
			<div class="row"><div class="col"><hr/></div></div>
		</th:block>				
	</div>	
		<div th:each="name : ${customerNames}">
    <ul>
        <li >
            <span th:text="${name}"></span>
        </li>
    </ul>
</div>

						
</div>
</body>
</html>