<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Customer Registration</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/create_customer}" method="post" th:object="${customer}" onsubmit="return checkEmailUnique(this);">
                        <div class="form-group">
                            <label class="small mb-1" for="inputFirstName">First Name</label>
                            <input class="form-control py-4" id="inputFirstName" type="text" th:field="*{firstName}" placeholder="Enter your first name" required="required" maxlength="45" minlength="2" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputLastName">Last Name</label>
                            <input class="form-control py-4" id="inputLastName" type="text" th:field="*{lastName}" placeholder="Enter your last name" required="required" maxlength="45" minlength="2" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputEmail">Email</label>
                            <input class="form-control py-4" id="inputEmail" type="email" th:field="*{email}" placeholder="Enter your email address" required="required" maxlength="45" minlength="8" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputPassword">Password</label>
                            <input class="form-control py-4" id="inputPassword" type="password" th:field="*{password}" placeholder="Enter your password" required="required" maxlength="15" minlength="6" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
                            <input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Confirm your password" required="required" maxlength="15" minlength="6" oninput="checkPasswordMatch(this)" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputPhoneNumber">Phone Number</label>
                            <input class="form-control py-4" id="inputPhoneNumber" type="text" th:field="*{phoneNumber}" placeholder="Enter your phone number" required="required" maxlength="15" minlength="8" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputAddressLine1">Address Line 1</label>
                            <input class="form-control py-4" id="inputAddressLine1" type="text" th:field="*{addressLine1}" placeholder="Enter your address line 1" required="required" maxlength="64" minlength="3" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputAddressLine2">Address Line 2</label>
                            <input class="form-control py-4" id="inputAddressLine2" type="text" th:field="*{addressLine2}" placeholder="Enter your address line 2" maxlength="64" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputCity">City</label>
                            <input class="form-control py-4" id="inputCity" type="text" th:field="*{city}" placeholder="Enter your city" maxlength="45" minlength="2" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputCountry">Country</label>
                            <select class="form-control" id="inputCountry" th:field="*{country}">
                                <option value="">Select your country</option>
                                <th:block th:each="country : ${listCountries}">
                                    <option th:value="${country.id}" th:text="${country.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputState">State/Province</label>
                            <input class="form-control py-4" id="inputState" type="text" th:field="*{state}" placeholder="Enter your state/province" maxlength="45" minlength="3" list="listStates" />
                            <datalist id="listStates"></datalist>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputPostalCode">Postal Code</label>
                            <input class="form-control py-4" id="inputPostalCode" type="text" th:field="*{postalCode}" placeholder="Enter your postal code" maxlength="10" minlength="2" />
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	contextPath = "[[@{/}]]";

	function checkEmailUnique(form) {
		url = contextPath + "customers/check_unique_email";
		customerEmail = $("#email").val();
		csrfValue = $("input[name='_csrf']").val();
		
		params = {email: customerEmail, _csrf: csrfValue};
		
		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "Duplicated") {
				showWarningModal("There is another cusotmer having the email " + customerEmail);
			} else {
				showErrorModal("Unknown response from server");
			}
		}).fail(function() {
			showErrorModal("Could not connect to the server");
		});
		
		return false;
	}	
	
</script>
<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
</body>
</html>