  .product-name {
    color: black; /* Default link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.2s ease; /* Smooth transition for color change */
  }


.custom-heading {
    color: green; /* Dark gray color */
    font-family: 'Arial Black', sans-serif;
}

  /* Hover effect */
.product-name:hover {
  color: #009999 ; /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
  }

  /* Active link styles (when clicked) */
  .product-name :active {
    color: green; /* Change color when clicked */
  }
  
  .dropdown-menu-hover:hover {
	
	background: #343a40;
	color: #F8F8FF;
}
/* Custom CSS to change the active page item color */
.page-item.active .page-link {
    background-color: #343a40;;
    border-color: #f0f8ff;
    color: #F8F8FF;
}

