 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<head th:replace="fragments :: page_head(${pageTitle}, tag)" />


</head>
<body>

<div class="container-fluid">

<div th:replace="navigation :: header_menu"></div>




	<div>
		<h1>Products in Category</h1>
		
	</div>
<div>
	<nav class="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="@{/}">Home</a></li>
    		  <th:block th:each="parent : ${listParents}">
    		  	<li class="breadcrumb-item"><a href="@{'/c/' + ${parent.alias}}">[[${parent.name}]]</a></li>
    		  </th:block>

  		</ol>
	</nav>
	
	</div>

	


<div th:replace="navigation :: footer_menu"></div>

</div>

</body>
</html>